.col-md-4 {
  text-align: justify;
  background-color: beige;
  margin-bottom: 5%;
}
ol {
  border-style: solid;
  border: groove 1em red;
  border-radius: 1em;
  padding: 2em;
}

.blue {
  color: blue;
}

}
.overmos {
float: right
}

#tronmos {
  float: right
}

.indexwiki {
}

div p{
  color: red
}

h2{
  padding-left: 1em
}
